<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="ru">
        <meta name="google" content="notranslate">

        <title>{{ this.getPageTitle() }} </title>

        <link type="text/css" href="{{ this.createStaticUrl('css/bootstrap.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ this.createStaticUrl('css/sticky-footer-navbar.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ this.createStaticUrl('css/main.css') }}" rel="stylesheet" />

        <script type="text/javascript" src="{{ this.createStaticUrl('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ this.createStaticUrl('js/bootstrap.js') }}"></script>
    </head>

    <body>
        {% include 'components/header.twig' %}

        <div class="container" id="page">
            {{ content | raw }}
        </div>

        {% include 'components/footer.twig' %}
    </body>
</html>
