html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body.index-page {
    margin-bottom: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 0;
}

#footer > .container {
    padding: 15px 15px;
}

code {
    font-size: 80%;
}

@media (max-width: 990px) {
    #footer .float-left {
        float: left;
    }

    #footer .float-right {
        float: right;
    }
}

@media (max-width: 490px) {
    #footer .float-left {
        display: none;
    }

}
