<h1>Задачи
    {% if this.checkAccess('tasksCrud') %}
        <a class="btn btn-success" href="{{ this.createUrl('tasks/add') }}">Создать</a>
    {% endif %}
</h1>

<table class="table">
    <thead>
        <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-3">Название</th>
            <th class="col-md-2">Автор</th>
            <th class="col-md-2">Назначена</th>
            <th class="col-md-2">Статус</th>
            <th class="col-md-2">Срок выполнения</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            {% if task.getStatus() == 'close' %}
                {% set class = 'success' %}
            {% elseif task.getStatus() == 'in_review' %}
                {% set class = 'warning' %}
            {% else %}
                {% set class = '' %}
            {% endif %}

            <tr class="{{ class }}">
                <td>{{ task.getId() }}</td>
                <td>
                    <a href="{{ this.createUrl('tasks/view', {id: task.getId()}) }}">{{ task.getTitle() }}</a>
                </td>
                <td>{{ task.getCreator().getFullName() }}</td>
                <td>{{ task.getAssigned().getFullName() }}</td>
                <td>{{ task.getStatusTitle() }}</td>
                <td>{{ task.getDeadline() }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>