{% if errors|length > 0 %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                {% if simpleErrors %}
                    {% for error in errorsMsg %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% else %}
                    {% for fieldErrors in errors %}
                        {% for error in fieldErrors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}