{% if App.user.isAuthorized() %}
    <div id="footer">
        <div class="container">
            <div class="float-left">
                <div class="col-md-2">
                    <p class="text-muted">Версия: {{ this.getVersionNumber() }}</p>
                </div>
                <div class="col-md-3">
                    <p class="text-muted">Ваш IP: {{ this.getUserIp() }}</p>
                </div>
            </div>
            <div class="float-right">
                <div class="col-md-3 col-md-offset-1 text-right">

                </div>
                <div class="col-md-3 text-right">
                    <p class="text-muted">
                        <nobr>&copy; {{ "now"|date('Y') }}</nobr>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}