<div class="navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            {% if App.user.isAuthorized() %}
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            {% endif %}
            <a href="{{ this.createUrl('site/index') }}" class="navbar-brand">
                LabTask
            </a>
        </div>
        <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
            {% if App.user.isAuthorized() %}
                <ul class="nav navbar-nav">
                    {% if this.checkAccess('accessUsers') %}
                        <li>
                            <a href="{{ this.createUrl('users/index') }}">Пользователи</a>
                        </li>
                    {% endif %}
                </ul>



                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">Добрый день, {{ this.getUser().getFullName() }}</p>
                    </li>
                    <li>
                        <a href="{{ this.createUrl('auth/logout', {(this.getCsrfTokenName()): this.getCsrfToken()}) }}">Выход</a>
                    </li>
                </ul>
            {% endif %}

        </nav>
    </div>
</div>
