<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" method="post" action="{{ this.createUrl('auth/login') }}">
            {% include 'components/csrf_token.twig' %}
            {% if authError %}
                <div class="row">
                    <div class="alert alert-danger">
                        {{ authError }}
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-5">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>

                <div class="col-sm-5">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Войти</button>
                </div>
            </div>
        </form>
    </div>
</div>
