{% include 'components/errors_messages.twig' with { errors: errors } %}

<div class="row">
    <div class="col-md-12">
        <h1>{% if task.getIsNewRecord() %}Добавление{% else %}Редактирование{% endif %} задачи</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <form class="form-horizontal form_edit-profile" method="post">
            {% include 'components/csrf_token.twig' %}
            <div class="col-md-8">
                <div class="form-group">
                    <label class="col-md-3">Название</label>

                    <div class="col-md-9">
                        <input class="form-control" name="title" value="{{ task.getTitle() }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">Описание</label>

                    <div class="col-md-9">
                        <textarea class="form-control" name="description">{{ task.getDescription() | nl2br }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">Назначена:</label>

                    <div class="col-md-9">
                        <select class="form-control" name="assigned_id">
                            {% for user in users %}
                                <option value="{{ user.getId() }}" {{ task.getAssigned().getId() == user.getId() ? 'selected' : '' }}>{{ user.getFullName() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">Срок выполнения:</label>

                    <div class="col-md-9">
                        <input class="form-control" name="deadline" value="{{ task.getDeadline() }}" />
                    </div>
                </div>

                <hr />
                <div class="form-group">
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">
                            {% if task.getIsNewRecord() %}
                                Добавить
                            {% else %}
                                Редактировать
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

