<div class="row">
    <h1>Задача №{{ task.getId() }}: {{ task.getTitle() }}
        {% if task.getStatus() == 'close' %}
            <span class="label label-success">Закрыта</span>
        {% endif %}
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        {% if this.checkAccess('tasksCrud') %}
            <hr />

            <a class="btn btn-default" href="{{ this.createUrl('tasks/edit', {id: task.getId()}) }}">Редактировать</a>
            <a class="btn btn-danger" onclick="return confirm('Вы уверены?');" href="{{ this.createUrl('tasks/delete', {id: task.getId(), (this.getCsrfTokenName()): this.getCsrfToken() }) }}">Удалить</a>
            {% if task.getStatus() != 'close' %}
                <form method="post" class="inline-block" action="{{ this.createUrl('tasks/close') }}">
                    {% include 'components/csrf_token.twig' %}
                    <input type="hidden" name="id" value="{{ task.getId() }}" />
                    <button type="submit" class="btn btn-success">Закрыть</button>
                </form>
            {% endif %}
        {% else %}
            {% if task.getStatus() != 'close' %}
                <form method="post" action="{{ this.createUrl('tasks/onReview') }}">
                    {% include 'components/csrf_token.twig' %}
                    <input type="hidden" name="id" value="{{ task.getId() }}" />
                    {% if task.getStatus() == 'open' %}
                        <button type="submit" class="btn btn-warning">На проверку</button>
                    {% elseif task.getStatus() == 'in_review' %}
                        <button type="submit" class="btn btn-default" disabled>На проверке</button>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}

    </div>
</div>

<hr />

<div class="form-horizontal">
    <div class="col-md-8">
        <div class="form-group">
            <div class="col-md-3">
                <label>Описание:</label>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ task.getDescription() | nl2br }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>Автор:</label>
            </div>
            <div class="col-md-9">{{ task.getCreator().getFullName() }}</div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>Назначена:</label>
            </div>
            <div class="col-md-9">{{ task.getAssigned().getFullName() }}</div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>Дата создания:</label>
            </div>
            <div class="col-md-9">{{ task.getCreateTime() }}</div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>Срок выполнения:</label>
            </div>
            <div class="col-md-9">{{ task.getDeadline() }}</div>
        </div>
    </div>
</div>


<div class="row">

</div>