{% include 'components/errors_messages.twig' with { errors: errors } %}

<div class="row">
    <div class="col-md-12">
        <h1>{% if user.getIsNewRecord() %}Добавление{% else %}Редактирование{% endif %} пользователя</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <form class="form-horizontal form_edit-profile" method="post">
            {% include 'components/csrf_token.twig' %}
            {% if not user.getIsNewRecord() %}
                <input type="hidden" name="id" value="{{ user.getId() }}">
            {% endif %}
            <div class="form-group">
                <label for="email" class="col-sm-1 control-label">Email</label>

                <div class="col-sm-8">
                    <input class="form-control" id="email" placeholder="Email" name="email" required type="email"
                           value="{{ user.getEmail() }}" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-1 control-label">Пароль</label>

                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" placeholder="Пароль" name="password"
                           value="" required {% if not user.getIsNewRecord() %}disabled style="display: none;"{% endif %}/>

                    {% if not user.getIsNewRecord() %}
                        <button type="button" class="btn btn-default btn_change-password">Изменить пароль</button>

                        <script type="text/javascript">
                            $('.btn_change-password').click(function () {
                                $('#password').attr('disabled', false).show();
                                $(this).remove();
                            });
                        </script>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-1 control-label">Имя</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" placeholder="Имя" name="name" value="{{ user.getName() }}" required />
                </div>
            </div>
            <div class="form-group">
                <label for="surname" class="col-sm-1 control-label">Фамилия</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" id="surname" placeholder="Фамилия" name="surname" value="{{ user.getSurname() }}" required />
                </div>
            </div>


            <div class="form-group">
                <label for="role" class="col-sm-1 control-label">Роль</label>

                <div class="col-sm-8">
                    <select name="role" id="role" class="form-control">
                        {% for roleCode, roleTitle in user.getListRoles() %}
                            <option value="{{ roleCode }}" {% if roleCode == user.getRole() %}selected{% endif %}>{{ roleTitle }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-8">
                    <hr />
                    <button type="submit" class="btn btn-default">
                        {% if user.getIsNewRecord() %}
                            Добавить
                        {% else %}
                            Редактировать
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>