<h1>Пользователи</h1>

<div class="row">
    <div class="col-md-12">
        <p>
            <a href="{{ this.createUrl('users/add') }}" class="btn btn-xs">
                <span class="glyphicon glyphicon-plus"></span> Добавить
            </a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-3">Эл. почта</th>
                    <th class="col-md-2">Фамилия</th>
                    <th class="col-md-2">Имя</th>
                    <th class="col-md-2">Роль</th>
                    <th class="col-md-3"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.getEmail() }}</td>
                        <td>{{ user.getSurname() }}</td>
                        <td>{{ user.getName() }}</td>
                        <td>{{ user.getRoleTitle() }}</td>
                        <td>
                            <a href="{{ this.createUrl('users/edit', {id: user.getId()}) }}">
                                <nobr><span class="glyphicon glyphicon-edit"></span> Редактировать</nobr>
                            </a>
                            <a href="{{ this.createUrl('users/delete', {id: user.getId(), (this.getCsrfTokenName()): this.getCsrfToken()}) }}" onclick="return confirm('Вы уверены?')">
                                <nobr><span class="glyphicon glyphicon-remove"></span> Удалить</nobr>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>